[list-component] > .list-group {
    list-style-type: none;
    padding: 1em 0;
    margin: 0;
    border: solid 1px #DDD;
    border-left: none;
    border-right: none;
}

[list-component] > .list-group:empty::before {
    content: 'Add items to list...';
    display: block;
    padding: 1em 0;
    text-align: center;
    font-style: italic;
    font-size: 1em;
    color: #888;
}

[list-component] > .total {
    text-align: right;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 1em;
    font-weight: 600;
}

[list-component] .list-group-item {
    display: grid;
    grid-template-columns: 5% 30% 15% 15% 20% 5%;
    padding: 0.6em 0;
    align-items: center;
    grid-gap: 2%;
    outline: none;
}
[list-component] .item-dropzone-area {
    display: block;
    height: 35px;
    margin: 2px;
    padding: 2px;
    border: dashed 1px #DDD;
}
[list-component] .list-group-item.header {
    text-transform: uppercase;
    font-size: 7pt;
    font-weight: bold;
    color: #002944;
}

[list-component] ul {
    padding: 0;
}

[list-component] .list-group-item.header {
    text-transform: uppercase;
    font-size: 7pt;
    font-weight: bold;
    color: #002944;
}
[list-component] .list-group-item > div.name > input,
[list-component] .list-group-item > div.total { 
    text-align: left;
}
[list-component] .list-group-item:not(.header) > div.total { 
    font-size: 10pt;
}

[list-component] .list-group-item > div.remove > .fas { color: #888; cursor: pointer; }
[list-component] .list-group-item > div.remove > .fas:hover { color: rgb(0, 119, 199); }

[list-component] .list-group-item > div.quantity > input,
[list-component] .list-group-item > div.price > input { 
    text-align: center;
}