.col-5 { width: 5%*1; }
.col-10 { width: 5%*2; }
.col-15 { width: 5%*3; }
.col-20 { width: 5%*4; }
.col-25 { width: 5%*5; }
.col-30 { width: 5%*6; }
.col-35 { width: 5%*7; }
.col-40 { width: 5%*8; }
.col-45 { width: 5%*9; }
.col-50 { width: 5%*10; }
.col-55 { width: 5%*11; }
.col-60 { width: 5%*12; }
.col-65 { width: 5%*13; }
.col-70 { width: 5%*14; }
.col-75 { width: 5%*15; }
.col-80 { width: 5%*16; }
.col-85 { width: 5%*17; }
.col-90 { width: 5%*18; }
.col-95 { width: 5%*19; }
.col-100 { width: 5%*20; }

@media (max-width: 500px) {
  .hide-on-mobile {
    display: none;

  }

}
