* { box-sizing: border-box; }
body, html { padding: 0; margin: 0; }
body {
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#listy-app { 
    width: 500px;
    border: solid 1px #DDD;
    margin: 0 auto;
    border-radius: 5px;
}

#listy-app > h1 {
    margin: 0;
    padding: 6pt 1em;
    background-color: rgb(0, 41, 68);
    color: #FFF;
    font-size: 1.5em;
    position: relative;
}

#listy-app > h1 > .icon {
    position: absolute;
    top: 10px;
    right: 50px;
    font-size: 0.8em;
    cursor: pointer;
}
#listy-app > h1 > .add {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 0.8em;
    cursor: pointer;
}

#listy-app > * {
    padding: 1em;
}

label {
    color: rgb(0, 41, 68);
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
}
input {
    outline: none;
    width: 100%;
    border: solid 1px #DDD;
    padding: 5px 10px;
}

@media (max-width: 500px) {
    #listy-app {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
    }
}