[new-item-component] .new-item .additional {
    display: grid;
    grid-template-columns: 49% 49%;
    max-height: 0;
    transition: all ease .2s;
    overflow: hidden;
    grid-gap: 2%;
}
[new-item-component] .new-item .additional.show {
    max-height: 80px;
}

[new-item-component] .new-item .general {
    display: grid;
    grid-template-columns: 90% 8%;
    grid-gap: 2%;
    align-items: center;
}
[new-item-component] .new-item .general .far {
    color: rgb(0, 41, 68);
    font-size: 2em;
    cursor: pointer;
}

[new-item-component] .new-item .control {
    margin-bottom: 1em;
}
@media (max-width: 500px) {
    [new-item-component] {
        position: absolute;
        top: 20px;
        left: 1em;
        right: 1em;
        z-index: 1;
        background-color: #FFF;
        border-bottom: solid 1px #DDD;
    }
}