<div new-item-component>

    <div class="new-item">
        <div class="general">
            <div class="control">
                <label>Producto</label>
                <input type="text" v-model="item.name">
            </div>
            <i v-on:click="save()" class="far fa-plus-square"></i>
        </div>

        <div v-bind:class="{ show: showAdditional }" class="additional">
            <div class="control">
                <label>Cantidad</label>
                <input type="number" v-model="item.quantity">
            </div>
            <div class="control">
                <label>Precio</label>
                <input type="number" v-model="item.price">
            </div>
        </div>
    </div>

</div>